.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style-type: none;
  display:flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

img {
  height: 200px;
  width: auto;
}

.Game-Info {
  /* background-color: yellow ; */
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.Game-Info>img {
  width: 200px;
  height: auto;
}

.review-info {
  /* width: 300px;
  height: auto; */
  display: flex;
  /* background-color: #61dafb; */
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

.review-info li {
  width: 350px;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  border: thick double #32a1ce;
}

#display-review {
  display:flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#display-review>img {
  width: 300px;
  height: auto;
}